@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #212529;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-purple {
  background-color: #6f42c1;
  color: #fff;
  border: 1px solid #6f42c1;
}

.btn-outline-purple {
  background-color: transparent;
  color: #6f42c1;
  border: 1px solid #6f42c1;
}

.btn-purple:hover,
.btn-outline-purple:hover {
  background-color: #774aca;
  color: #fff;
}

.btn-link {
  background-color: transparent;
  color: #212529;
  border: none;
}

.container {
  width: 83%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.navbar {
  width: 100vw;
  padding: 30px 0;
  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .container .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #6f42c1;
  text-shadow: 0 0.1rem #212529;
  margin-right: 30px;
}
.navbar .container .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .navbar-nav .nav-item {
  list-style: none;
  margin: 0 1rem;
}
.navbar .container .navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #212529;
  text-decoration: none;
}
.navbar .container .navbar-nav .nav-item .active {
  color: #d1283e;
}

.scrolled {
  padding: 15px 0;
  background-color: #FFF;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

.main-section {
  height: 100vh;
  background: linear-gradient(45deg, hsl(0deg, 0%, 59%) 0%, hsl(0deg, 0%, 95%) 100%);
}
.main-section .custom-shape-divider-bottom-1672418949 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.main-section .custom-shape-divider-bottom-1672418949 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 144px;
}
.main-section .custom-shape-divider-bottom-1672418949 .shape-fill {
  fill: #FFFFFF;
}
.main-section .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.main-section .container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #212529;
  text-transform: uppercase;
}
.main-section .container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #212529;
  text-transform: uppercase;
}
.main-section .container h1 span {
  text-shadow: 0 0.1rem #212529;
  color: #6f42c1;
}
.main-section .container p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #212529;
  text-transform: uppercase;
}
.main-section .container .control-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  margin-top: 15px;
}

.brand-section {
  padding: 2rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.brand-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.brand-section .container .top-brand-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
.brand-section .container .top-brand-container .brand {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-section .container .top-brand-container .brand img {
  width: 100%;
  height: 100%;
}

.category-section {
  padding: 2rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.category-section .container h3.title {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #6f42c1;
}
.category-section .container p.description {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #212529;
  margin-bottom: 30px;
}
.category-section .container .card-container {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.category-section .container .card-container .card {
  max-width: 24rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.category-section .container .card-container .card img {
  width: 100%;
}
.category-section .container .card-container .card .card-body {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}
.category-section .container .card-container .card .card-body h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}
.category-section .container .card-container .card .card-body p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
}

.product-section {
  padding: 2rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FCFFE7;
}
.product-section .container h3.title {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #6f42c1;
}
.product-section .container .product-filter {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-section .container .product-filter .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}
.product-section .container .product-filter .category .category-btn {
  padding: 0;
  font-size: 1rem;
  margin-right: 10px;
}
.product-section .container .product-filter .search input {
  border: 1px solid #6f42c1;
  padding: 0.5rem;
  border-radius: 0;
  outline: none;
  font-size: 1rem;
}
.product-section .product-container {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.5rem 0;
}
.product-section .product-container .card {
  width: 16.4rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.375rem #929292;
}
.product-section .product-container .card img {
  width: 100%;
}
.product-section .product-container .card .card-body {
  padding: 0.8rem;
}
.product-section .product-container .card .card-body small {
  font-family: "Poppins", sans-serif;
  color: #212529;
  margin-bottom: 10px;
}
.product-section .product-container .card .card-body h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #212529;
  margin-bottom: 10px;
  font-weight: 500;
}
.product-section .product-container .card .card-body p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #212529;
  margin-bottom: 10px;
}
.product-section .product-container .card .card-footer button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #6f42c1;
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  background-color: #6f42c1;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-section .container {
    justify-content: center;
  }
  .main-section .container h1,
.main-section .container p,
.main-section .container h3 {
    text-align: center;
  }
  .main-section .container .control-links {
    justify-content: center;
  }
  .category-section .container .card-container {
    flex-direction: column;
    gap: 1rem;
  }
  .category-section .container .card-container .card {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */